h1 {
    display: flex; 
    justify-content: center;
    color: rgb(255, 255, 0); 
    font-size: 6em;
    font-family: 'Graduate', cursive;
}

body {
    background-color: black;
    width: 100%;
}

button {
    font-size: 3em;
    background-color: rgb(255, 255, 0); 
    color: black;
    border-radius: 15px;
    font-family: 'Graduate', cursive;
    width: 20vw;
    height: 5vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

